{
	"presets": ["react", "env"],
	"plugins": [
		"react-hot-loader/babel",
		"flow-react-proptypes",
		"react-loadable/babel",
		"syntax-dynamic-import",
		"transform-function-bind",
		"transform-class-properties",
		"transform-decorators",
		"transform-object-rest-spread",
		["import", { "libraryName": "antd" }],
		["lodash", { "id": ["lodash", "recompose"] }]
	]
}
