node_modules
npm-debug.*
static/*hot-update*
static/*bundle*
static/meta.json
static/index.html
static/css/entry*
static/css/vendor*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
yarn-error.log
.idea
stats.json

static
